@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot');
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'), url('./font/iconfont.woff') format('woff'), url('./font/iconfont.ttf') format('truetype'), url('./font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    color: #5c5452;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.col-md-1 {
    border: 1px solid #000000;
    height: 30px;
}

.jdsy {
    color: #9b9b9b;
    font-size: 12px;
}

.div1 {
    width: 1425px;
    height: 31px;
    background-color: #e3e4e5;
}

.div1_1 {
    margin: 0 auto;
    height: 30px;
    width: 990px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div1_1_1 {
    width: 990px;
    height: 30px;
    display: flex;
    align-items: center;
}

.div1_1_2 {
    display: flex;
    align-items: center;
}

.li1 {
    padding: 0 8px;
    color: #9b9b9b;
    line-height: 30px;
    font-size: 12px;
    height: 30px;
    width: 68px;
    float: left;
    list-style: none;
}

.li2 {
    border-right: 1px solid #9b9b9b;
    height: 12px;
    width: 1px;
    float: left;
    list-style: none;
}

.ycdiv {
    position: absolute;
    border-right: 1px solid #e3e4e5;
    border-left: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    display: none;
    z-index: 999;
    height: 100px;
    width: 331px;
    background-color: #fff;
}

.ycdiv2 {
    display: flex;
    padding: 10px 0 10px 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 331px;
}

.ycdiv3 {
    padding: 0 18px 0 18px;
    display: flex;
    justify-content: space-between;
}

.ycdiv3 font {
    font-size: 12px;
    color: #999;
}

.div1_2 {
    margin: 0 auto;
    padding: 10px 0 0;
    width: 990px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text1 {
    height: 28px;
    line-height: 28px;
    width: 260px;
    padding: 3px 5px;
    outline: 0;
}

.text2 {
    border: 2px solid #c91623;
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 28px;
    background: #c91623;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.div1_3 {
    margin: 0 auto;
    width: 990px;
    height: 298px;
    padding: 80px 0 120px;
}

.div1_3_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98px;
    padding-left: 341px;
    background: url(https://misc.360buyimg.com/user/cart/css/i/no-login-icon.png) 250px 22px no-repeat;
}

.div1_4 {
    margin: 0 auto;
    width: 990px;
    height: 350px;
}

.div1_4_1 {
    display: flex;
    justify-content: space-between;
    width: 990px;
    height: 23px;
}

#a1 {
    display: inline-block;
    color: #e4393c;
    font-weight: 700;
    border-color: #e4393c;
    margin-right: 35px;
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 2px solid #e4393c;
}

#a2 {
    display: inline-block;
    font-weight: 700;
    margin-right: 35px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
    color: #666;
    text-decoration: none;
    font: 12px
}

#ldiv1 {
    border-radius: 4px;
    vertical-align: middle;
    height: 8px;
    margin-left: 3px;
    overflow: hidden;
    display: inline-block;
    width: 26px;
    background: #e4393c;
}

#ldiv2 {
    width: 8px;
    height: 8px;
    margin-left: 3px;
    border-radius: 4px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    background: #aaa;
}

#div1_4_2 {
    display: block;
    width: 990px;
    height: 306px;
}

.row {
    margin-top: 10px;
}

.col-md-3 {
    height: 306px;
    border: 1px dashed #cacaca;
}

#image1 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/favor1.jpg);
    margin-top: 20px;
}

.title1 {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 33px;
}

.price1 {
    margin: 0 auto;
    margin-top: 10px;
    color: #c91623;
    text-align: center;
    font-size: 14px;
}

.favorcart1 {
    width: 115px;
    height: 28px;
    background: url(images/cart1.png);
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.favorcart1 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
}

#image2 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/favor2.jpg);
    margin-top: 20px;
}

.title2 {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 33px;
}

.price2 {
    margin: 0 auto;
    margin-top: 10px;
    color: #c91623;
    text-align: center;
    font-size: 14px;
}

.favorcart2 {
    width: 115px;
    height: 28px;
    background: url(images/cart1.png);
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.favorcart2 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
}

#image3 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/favor3.jpg);
    margin-top: 20px;
}

.title3 {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 33px;
}

.price3 {
    margin: 0 auto;
    margin-top: 10px;
    color: #c91623;
    text-align: center;
    font-size: 14px;
}

.favorcart3 {
    width: 115px;
    height: 28px;
    background: url(images/cart1.png);
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.favorcart3 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
}

#image4 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/favor4.jpg);
    margin-top: 20px;
}

.title4 {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 33px;
}

.price4 {
    margin: 0 auto;
    margin-top: 10px;
    color: #c91623;
    text-align: center;
    font-size: 14px;
}

.favorcart4 {
    width: 115px;
    height: 28px;
    background: url(images/cart1.png);
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.favorcart4 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
}
#image-1 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/shopping1.jpg);
    margin-top: 20px;
}
#image-2 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/shopping2.jpg);
    margin-top: 20px;
}
#image-3 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/shopping3.jpg);
    margin-top: 20px;
}
#image-4 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/shopping4.jpg);
    margin-top: 20px;
}
#div1_4_3 {
    display: none;
    width: 990px;
    height: 306px;
}