@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot');
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'), url('./font/iconfont.woff') format('woff'), url('./font/iconfont.ttf') format('truetype'), url('./font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    color: #5c5452;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.col-md-1 {
    border: 1px solid #000000;
    height: 30px;
}

.jdsy {
    color: #9b9b9b;
    font-size: 12px;
}

.div1 {
    width: 1425px;
    height: 31px;
    background-color: #e3e4e5;
}

.div1_1 {
    margin: 0 auto;
    height: 30px;
    width: 990px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div1_1_1 {
    width: 990px;
    height: 30px;
    display: flex;
    align-items: center;
}

.div1_1_2 {
    display: flex;
    align-items: center;
}

.li1 {
    padding: 0 8px;
    color: #9b9b9b;
    line-height: 30px;
    font-size: 12px;
    height: 30px;
    width: 68px;
    float: left;
    list-style: none;
}

.li2 {
    border-right: 1px solid #9b9b9b;
    height: 12px;
    width: 1px;
    float: left;
    list-style: none;
}

.ycdiv {
    position: absolute;
    border-right: 1px solid #e3e4e5;
    border-left: 1px solid #e3e4e5;
    border-bottom: 1px solid #e3e4e5;
    display: none;
    z-index: 999;
    height: 100px;
    width: 331px;
    background-color: #fff;
}

.ycdiv2 {
    display: flex;
    padding: 10px 0 10px 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 331px;
}

.ycdiv3 {
    padding: 0 18px 0 18px;
    display: flex;
    justify-content: space-between;
}

.ycdiv3 font {
    font-size: 12px;
    color: #999;
}

.div1_2 {
    margin: 0 auto;
    padding: 10px 0 0;
    width: 990px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text1 {
    height: 28px;
    line-height: 28px;
    width: 260px;
    padding: 3px 5px;
    outline: 0;
}

.text2 {
    border: 2px solid #c91623;
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 28px;
    background: #c91623;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

#div1_3 {
    display: block;
    margin: 0 auto;
    width: 990px;
    height: 298px;
    padding: 80px 0 120px;
}

.div1_3_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98px;
    padding-left: 341px;
    background: url(https://misc.360buyimg.com/user/cart/css/i/no-login-icon.png) 250px 22px no-repeat;
}

.div1_4 {
    margin: 0 auto;
    width: 990px;
    height: 350px;
}

.div1_4_1 {
    display: flex;
    justify-content: space-between;
    width: 990px;
    height: 23px;
}

#a1 {
    display: inline-block;
    color: #e4393c;
    font-weight: 700;
    border-color: #e4393c;
    margin-right: 35px;
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 2px solid #e4393c;
}

#a2 {
    display: inline-block;
    font-weight: 700;
    margin-right: 35px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
    color: #666;
    text-decoration: none;
    font: 12px
}

#ldiv1 {
    border-radius: 4px;
    vertical-align: middle;
    height: 8px;
    margin-left: 3px;
    overflow: hidden;
    display: inline-block;
    width: 26px;
    background: #e4393c;
}

#ldiv2 {
    width: 8px;
    height: 8px;
    margin-left: 3px;
    border-radius: 4px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    background: #aaa;
}

#div1_4_2 {
    display: block;
    width: 990px;
    height: 306px;
}

.row {
    margin-top: 10px;
}

.col-md-3 {
    height: 306px;
}

#image1 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/favor1.jpg);
    margin-top: 20px;
}

.title1 {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 33px;
}

.price1 {
    margin: 0 auto;
    margin-top: 10px;
    color: #c91623;
    text-align: center;
    font-size: 14px;
}

#favorcart1 {
    width: 115px;
    height: 28px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
}

#favorcart1 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    background-color: #fff;
}

#image2 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/favor2.jpg);
    margin-top: 20px;
}

.title2 {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 33px;
}

.price2 {
    margin: 0 auto;
    margin-top: 10px;
    color: #c91623;
    text-align: center;
    font-size: 14px;
}

#favorcart2 {
    width: 115px;
    height: 28px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
}

#favorcart2 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    background-color: #fff;
}

#image3 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/favor3.jpg);
    margin-top: 20px;
}

.title3 {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 33px;
}

.price3 {
    margin: 0 auto;
    margin-top: 10px;
    color: #c91623;
    text-align: center;
    font-size: 14px;
}

#favorcart3 {
    width: 115px;
    height: 28px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
}

#favorcart3 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    background-color: #fff;
}

#image4 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/favor4.jpg);
    margin-top: 20px;
}

.title4 {
    width: 80%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 33px;
}

.price4 {
    margin: 0 auto;
    margin-top: 10px;
    color: #c91623;
    text-align: center;
    font-size: 14px;
}

#favorcart4 {
    width: 115px;
    height: 28px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
}

#favorcart4 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    color: #000000;
    background-color: #fff;
}

#image-1 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/shopping1.jpg);
    margin-top: 20px;
}

#image-2 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/shopping2.jpg);
    margin-top: 20px;
}

#image-3 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/shopping3.jpg);
    margin-top: 20px;
}

#image-4 {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: url(images/shopping4.jpg);
    margin-top: 20px;
}

#div1_4_3 {
    display: none;
    width: 990px;
    height: 306px;
}

#cartxs {
    margin-top:25px; 
    display: none;
}

#qbsp {
    width: 65px;
    height: 30px;
    border-bottom: 1px solid #e6393c;
    margin: 0 auto;
    margin-left: 264px;
    color: #e6393c;
}

#carttitle {
    width: 989px;
    height: 40px;
    background: #f3f3f3;
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.selectcc {
    float: left;
    margin-left: 10px;
}

.carttitle1 {
    font-size: 13px;
    color: #666666;
}

#cartdisplay {
    width: 990px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.cartitem {
    width: 990px;
    height: 136px;
    border-top: 1px solid #c5c5c5;
    background-color: #fff4e8;
    display: flex;
    justify-content: space-between;
}

.cartitemselect {
    width: 123px;
    height: 84px;
    /*border:1px solid;*/
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.selectcb {
    float: left;
    margin-right: 10px;
}

.cartitemimage {
    float: left;
}

.itemimage {
    width: 80px;
    height: 84px;
}

.itemshangpin {
    width: 208px;
    float: left;
    font-size: 12px;
    margin-top: 15px;
}

.itemdanjia {
    width: 330px;
    float: left;
    font-size: 12px;
    margin-top: 15px;
    text-align: right;
}

.itemshuliang {
    width: 140px;
    float: left;
    margin-top: 15px;
    text-align: center;
    height: 22px;
    display: flex;
    justify-content: center;
}

.crement {
    width: 17px;
    height: 22px;
    background-color: white;
    
    border: 1px solid #cacaca;
    text-align: center;
    line-height: 22px;
}

.crement:horver {
    cursor: pointer;
    /*手型*/
}

.num {
    width: 46px;
    height: 22px;
    border: 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    background-color: white;
    text-align: center;
}

.increment {
    width: 17px;
    height: 22px;
    background-color: white;
    border: 1px solid #cacaca;
    text-align: center;
    line-height: 22px;
}

.increment:horver {
    cursor: pointer;
    /*手型*/
}

.itemxiaoji {
    width: 80px;
    height: 45px;
    font-weight: 900;
    margin-top: 15px;
    text-align: center;
    /*border:1px solid;*/
    float: left;
    font-size: 12px;
}

.caozuo {
    width: 75px;
    margin-top: 15px;
    text-align: right;
    font-size: 12px;
    color: #cacaca;
    padding-right: 15px;
    float: left;
}

.caozuo a {
    color: black;
    text-decoration: none;
}

#v1,
#v2,
#v3,
#v4,
#vv1,
#vv3,
#vv2,
#vv4 {
    border: 1px dashed #cacaca;
}

#favorcart-1 {
    width: 115px;
    height: 28px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
}

#favorcart-1 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    color: #000000;
    background-color: #fff;
}

#favorcart-2 {
    width: 115px;
    height: 28px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
}

#favorcart-2 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    color: #000000;
    background-color: #fff;
}

#favorcart-3 {
    width: 115px;
    height: 28px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
}

#favorcart-3 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    color: #000000;
    background-color: #fff;
}

#favorcart-4 {
    width: 115px;
    height: 28px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
}

#favorcart-4 b {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-position: 0 -57px;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(https://misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    color: #000000;
    background-color: #fff;
}

#bottombox {
    margin: 0 auto;
    width: 990px;
    height: 52px;
    border: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
}

#aa1 {
    float: left;
    margin-left: 10px;
    color: #666;
    text-decoration: none;
    font-size: 12px;
}

#aa1:hover {
    float: left;
    margin-left: 10px;
    color: #e4393c;
    text-decoration: none;
    font-size: 12px;
}

#aa2 {
    float: left;
    margin-left: 10px;
    color: #666;
    text-decoration: none;
    font-size: 12px;
}

#aa2:hover {
    float: left;
    margin-left: 10px;
    color: #e4393c;
    text-decoration: none;
    font-size: 12px;
}

#aa3 {
    float: left;
    margin-left: 10px;
    color: #666;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}

#aa3:hover {
    float: left;
    margin-left: 10px;
    color: #e4393c;
    text-decoration: none;
    font-size: 12px;
}

.jdiv {
    height: 50px;
    width: 96px;
    background-color: #e64346;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 52px;
    font-weight: 700;
    cursor: pointer;
}

.xdiv {
    color: #999;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 15px;
}

.xdiv em {
    color: #e4393c;
    font-family: verdana;
    font-weight: 700;
    margin: 0 3px;
    font-style: normal;
    cursor: pointer;
}

.zdiv {
    line-height: 20px;
    color: #999;
    font: 12px;
}

.zdiv em {
    font-family: verdana;
    font-size: 16px;
    color: #e4393c;
    font-weight: 700;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
    margin-right: 15px;
}